html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  max-width: 76.8rem;
  min-width: 32rem;
  background-color: rgb(106, 173, 14);
}

.container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: yellow;
}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background: url("../../images/mobile_intro_bg.png") no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
header .navigation {
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 100%;
}
header .navigation nav {
  display: flex;
  height: 6rem;
  font-size: 1.6rem;
  width: 100%;
  align-items: center;
  padding: 1rem;
  position: fixed;
}
header .navigation .nav-mobile {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
header .navigation .nav-mobile .nav-content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  height: 100vh;
  margin: -1px;
  margin-left: 1rem;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: -5;
  right: 2;
  color: white;
  font-size: 2.2rem;
  background-color: rgba(38, 40, 48, 0.95);
}
header .navigation .nav-mobile .close-wrap {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
}
header .navigation .nav-mobile #toggle-close {
  align-self: flex-end;
  padding-top: 2rem;
  padding-right: 4rem;
}
header .navigation .nav-mobile .nav-items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
}
header .navigation .nav-mobile .nav-items a {
  color: white;
  text-decoration: none;
}
header .navigation .nav-mobile .nav-items a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #ec5242;
}
header .navigation .nav-mobile .nav-items .nav-nestd-list {
  display: none;
  flex-direction: column;
  padding: 1rem;
}
header .navigation .nav-mobile .nav-items .nav-nestd-list.toggle {
  display: flex;
}
header .navigation .nav-mobile .nav-items .nav-nestd-list li {
  padding: 0.5rem;
  font-size: 2rem;
  list-style: none;
}
header .navigation .nav-mobile .nav-items .nav-items-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2.2rem;
  padding-right: 2rem;
}
header .navigation .nav-mobile .nav-items .nav-items-content #pointer {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-90deg);
}
header .navigation .nav-mobile .nav-items .nav-items-content #pointer.toggle {
  transform: rotate(0deg);
}
header .navigation .nav-mobile .mobile-toggle {
  width: auto;
}
header .navigation .nav-mobile .mobile-toggle #close-nav {
  width: 3rem;
  height: 3rem;
}
header .content {
  display: flex;
  flex-direction: column;
  padding: 8%;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
header .content#forAbout {
  align-items: center;
}
header .content .home {
  display: none;
}
header .content h1 {
  font-size: 3.5rem;
  font-weight: 900;
  background-image: radial-gradient(#e5ba69, #ff2609);
  -webkit-background-clip: text;
  color: transparent;
}
header .content h1 span {
  display: block;
  font-size: smaller;
  margin-bottom: 5%;
  font-weight: 600;
  background-image: linear-gradient(to right, #d3230b);
  -webkit-background-clip: text;
  background-image: radial-gradient();
  color: transparent;
}
header .content p {
  font-size: 2rem;
  background-color: whitesmoke;
  padding: 2rem;
  border: 2px solid white;
}
header .content p.about {
  background-color: white;
}
header .content p.about-contact-info {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .content p.about-contact-info span {
  display: inline-block;
  padding-top: 1rem;
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  text-decoration: underline;
}
header .content p.about-contact-info span a {
  color: #272a31;
}
header .content h2 {
  font-size: 2rem;
  font-weight: 700;
}
header .content h2 span {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

main .main-program {
  background-image: url("../../images/pattern_bg.png");
  background-repeat: repeat;
  background-color: #272a31;
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  padding-top: 4rem;
  min-height: 80.7rem;
  height: auto;
  justify-content: space-between;
  gap: 2.5rem;
  border: 1px solid blue;
  font-size: 1.6rem;
}
main .main-program .program-list {
  height: auto;
  display: flex;
  padding: 1rem;
  gap: 2%;
  background-color: #3d4047;
  align-items: center;
}
main .main-program .program-list .program-header {
  display: flex;
  width: 50%;
  align-content: center;
  justify-content: center;
  height: 100%;
}
main .main-program .program-list .program-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-size: 2rem;
  height: auto;
}
main .main-program .program-list .program-img {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
main .main-program .program-list .program-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
main .main-program .program-list .program-title p {
  color: #ec5242;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  flex-shrink: 2;
  font-weight: 500;
}
main .main-program .join {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
main .main-program .join button {
  height: 6rem;
  color: white;
  font-size: larger;
  font-weight: 700;
  padding: 2rem;
  border: none;
  cursor: pointer;
  background-color: #ec5242;
}
main .program-header-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
}
main h2 {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
main .program-style {
  display: flex;
  background-color: #ec5242;
  width: 4rem;
  height: 0.5rem;
  align-self: center;
}
main .mainSpeakers {
  background-color: white;
  padding-bottom: 3.5rem;
  padding-top: 7.9rem;
  color: rgb(39, 42, 50);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .mainSpeakers .program-header-wrap {
  padding-bottom: 1.6rem;
}
main .mainSpeakers .lecturers {
  height: auto;
  width: 100%;
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
}
main .mainSpeakers .lecturers .lecturer {
  display: flex;
  gap: 2rem;
}
main .mainSpeakers .lecturers .lecturer .lect-img {
  width: 12.8rem;
}
main .mainSpeakers .lecturers .lecturer .lecturer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}
main .mainSpeakers .lecturers .lecturer .about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .mainSpeakers .lecturers .lecturer .name {
  font-size: 2.2rem;
}
main .mainSpeakers .lecturers .lecturer .work {
  font-size: 1.4rem;
  color: #ec5242;
}
main .mainSpeakers .lecturers .lecturer .extra {
  font-size: 1.4rem;
}
main .mainSpeakers .more {
  display: flex;
  justify-content: center;
}
main .mainSpeakers button {
  width: 90%;
  font-size: 1.8rem;
  font-family: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4.5rem;
}
main .about-page-content {
  background-color: white;
}
main .logo-presentation {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  background-color: white;
  padding: 5rem;
  height: auto;
  gap: 2rem;
  align-content: center;
  justify-content: center;
}
main .logo-presentation h2 {
  color: rgba(38, 40, 48, 0.95);
}
main .logo-presentation p {
  color: rgba(38, 40, 48, 0.95);
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
}
main .logo-presentation img {
  background-color: transparent;
  height: auto;
  border: 1px solid #d3d3d3;
}
main .previous {
  background-color: white;
  border-top: 1px solid #d3d3d3;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 2rem;
}
main .previous h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(38, 40, 48, 0.95);
}
main .previous p {
  font-size: 1.6rem;
  color: rgba(38, 40, 48, 0.95);
}
main .previous .meetAlu a {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  width: 100%;
}
main .previous .meetAlu a img {
  height: auto;
  width: 100%;
}
main .previous .meetAlu a .image-background {
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7));
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}
main .previous .meetAlu a .image-background span {
  display: inline-block;
}
main .previous .meetAlu a .image-background .info {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
}
main .previous .meetAlu {
  width: 100%;
  height: auto;
  border: 1px solid rgba(38, 40, 48, 0.95);
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url("../images/meet6.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main .partner {
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
  gap: 3rem;
}
main .partner .partner-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .partner h3 {
  font-size: 2.5rem;
  font-weight: 900;
}
main .partner .partner-logo {
  display: flex;
  padding: 0 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .partner .partner-logo img {
  width: 12%;
  height: auto;
}
main .partner .partner-logo img:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  padding: 5rem;
  background-color: white;
}
footer .footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .footer-logo img {
  width: 75%;
}
footer .rights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(38, 40, 48, 0.95);
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
