@use '../abstracts' as *;

html{
  font-size: $font-size;

}

body {
  font-family: Lato, Helvetica, sans-serif;
  max-width: 76.8rem;
  min-width: 32rem;
  background-color: rgb(106, 173, 14);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}


/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
