@use "../abstracts" as *;

footer{
  display: flex;
  padding: 5rem;
  background-color: white;

  .footer-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
    img{
      width: 75%;
    }
  }

  .rights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4rem;
    font-weight: 600;
    color: $colorDarkLight;
    font-style: italic;
  }

}