@use "../abstracts" as *;

footer{
  display: flex;
  padding: 5rem;
  background-color: white;
  justify-content: center;
    align-items: center;
  
    .footer-logo{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
  
    img{
      width: 40%;
    
      @media  (min-width: $layout-breakpoint-small) {
        width: 15rem;
      }
    }
  }

  .rights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4rem;
    font-weight: 600;
    color: $colorDarkLight;
    font-style: italic;
  }

}