@use "../abstracts" as *;

header{
  display: flex;
  flex-direction: column;

  // @include border(blue); 
  background: url('../../images/mobile_intro_bg.png') no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;

  
  .navigation{
    display: flex ;
    flex-direction: column;
    position: relative;
    height: 6rem;
    width: 100%;
    // @include nevigation_mobile_default;

    nav {
      display: flex;
      height: 6rem;
      font-size: 1.6rem;
      width: 100%;
      // @include border(green);
      align-items: center;
      padding: 1rem;
      position: fixed;
    }
    .nav-mobile{
      display: flex;
      justify-content: flex-start;
      width: 100%;

      //toggle
      .nav-content {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        height: 100vh;
        margin: -1px;
        max-width: 76.7rem;
        width: 32rem;
        color: white;
        font-size: 2.2rem;
        background-color: $colorDarkLight;
      }
      .close-wrap{
        border-bottom: 1px solid $colorGray;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1.5rem;
      }

      #toggle-close{
        align-self: flex-end;
        padding-top: 2rem;
        padding-right: 2rem;
      }

      .nav-items {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        // @include border;
        cursor: pointer;
        

        a{
          color: white;
          text-decoration: none;
         
          &:hover{
            color: white;
            text-decoration: none;
            border-bottom: 1px solid $colorPrimary;
          }
        }
        .nav-nestd-list{
          display: none;
          flex-direction: column;
          padding: 1rem;

          &.toggle{
            display: flex;
          }

          & li{
            padding: 0.5rem;
            font-size: 2rem;
            list-style: none;
            
          }
    
        }

        .nav-items-content{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: transparent;
          border: none;
          color: white;
          font-size: 2.2rem;

          #pointer{
            width: 1.5rem;
            height: 1.5rem;
            transform: rotate(-90deg);
            
            &.toggle{
              transform: rotate(0deg);
            }
          }

         
        }
      }

  
      //end mobile-toggle
      .mobile-toggle {
        width: auto;
  
        #close-nav {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  
  
  
  
  }


  .content{
    display: flex;
    flex-direction: column;
    padding: 8%;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    width: 100%;
    // @include border;

    //in the about
    &#forAbout{
      align-items: center;
    }

    .home{
      display: none;
    }

    h1{
      font-size: 3.5rem;
      font-weight: 900;
      background-image: radial-gradient( #e5ba69, #ff2609);
      -webkit-background-clip: text;
      color: transparent;

      span{
        display: block;
        font-size: smaller;
        margin-bottom: 5%;
        font-weight: 600;
        background-image: linear-gradient(to right,#d3230b);
        -webkit-background-clip: text;
        background-image: radial-gradient();
        color: transparent;
      }
    }

    p{
      font-size: 2rem;
      background-color: whitesmoke;
      padding: 2rem;
      border: 2px solid white;

      //in the about file
      &.about{
        background-color: white;
      }

      &.about-contact-info{
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
      
        span {
          display: inline-block;
          padding-top: 1rem;
          text-align: center;
          font-weight: 800;
          font-size: 1.8rem;
          text-decoration: underline;
          
          a{
            color: $colorDark;
          }
        }
      }
    }

    h2{
      font-size: 2rem;
      font-weight: 700;

      span{
        display: block;
        font-size: 2rem;
        font-weight: 500;
      }
    }

  }
  
}